:root{
    --cyan: cyan;
    --darkcyan: darkcyan;
    --suscyan: #37b2b2;
    --white: white;
    --aliceblue: aliceblue;
    --suswhite: #fafafaa8;
    --susblack: #303245;
    --red: red;
    --darkred: darkred;
    --altblu: #08d;
    --altdarkblu: #06b;
}

  /* TODO: dark mode */
